<!doctype html>
<html>
	<head>
	</head>
	<body>
		<header>
			Password Defender - Patryk Nowacki	
		</header>
		<nav>
			<ul>
			<li><a href="/">Strona główna</a></li>
			{% if is_logged is not true %}
				<li><a href="/register">Zarejestruj</a></li>
				<li><a href="/login">Zaloguj</a></li>
			{% endif %}
			{% if is_logged is true %}
				<li><a href="/dashboard">Twoje hasla</a></li>
				<li><a href="/logout">Wyloguj</a></li>
			{% endif %}
			</ul>
		</nav>
		<footer>
			<ul>
				<li><a>2020</a></li>
			</ul>
		</footer>
	</body>
</html>